---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Photography";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="100" alt="Melinda smiling" src="/Melindaprof.jpg"/>
    <h2>Work In Progress</h2>
    <h3>Pardon Our Dust</h3>
    <h4> TO DO:</h4>
    <ul>
        <li>Create layout and style for this page</li>
        <li>Figure out how to display a photo carousel</li>
        <li>Eventually allow Melinda to upload photos without my direct intervention</li>
    </ul>
</Layout>


<!-- To do:
    1. Create layout and style for this page
    2. figure out how to display photos, photo carousels?
    3. Figure out a way for Melinda to upload photos? 
    Email them directly and have them added automatically and dynamically? -->

